[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = ">=7.4,<8.0"
django = ">=5.2,<5.3"
django-modelcluster = "==6.5.0"
django-treebeard = "==4.8.0"
django-tasks = "==0.9.0"
psycopg2 = "*"
wagtail-modeladmin = "*"
django-sslserver = "*"
django-extensions = "*"
werkzeug = "*"
pyopenssl = "*"

[dev-packages]

[requires]
python_version = "3.12"
