anyascii==0.3.2
asgiref==3.8.1
beautifulsoup4==4.13.4
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
defusedxml==0.7.1
Django==5.1.8
django-allauth==65.9.0
django-extensions==4.1
django-filter==25.1
django-modelcluster==6.4
django-permissionedforms==0.1
django-sslserver==0.22
django-stubs-ext==5.1.3
django-taggit==6.1.0
django-tasks==0.6.1
django-treebeard==4.7.1
djangorestframework==3.16.0
draftjs_exporter==5.1.0
et_xmlfile==2.0.0
filetype==1.2.0
idna==3.10
laces==0.1.2
mailjet-rest==1.4.0
MarkupSafe==3.0.2
openpyxl==3.1.5
pillow==11.2.1
pillow_heif==0.21.0
psycopg2==2.9.10
pycparser==2.22
pyOpenSSL==25.0.0
requests==2.32.3
soupsieve==2.7
sqlparse==0.5.3
telepath==0.3.1
typing_extensions==4.13.2
urllib3==2.4.0
wagtail==6.4.1
wagtail-modeladmin==2.1.0
Werkzeug==3.1.3
Willow==1.10.0

