
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Login | Cantina Sem Fila</title>
  <link rel="stylesheet" href="{% static 'wagtailadmin/css/core.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom-wagtail.css' %}">
</head>
<body class="login">
  <div class="wrapper">
    <div id="content" class="content-wrapper">
      <h2>Recuperar senha</h2>
      <p>Informe seu e-mail cadastrado para enviarmos o link de redefinição de senha.</p>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button" type="submit">Enviar link</button>
      </form>
    </div>
  </div>
</body>
</html>
