{% extends "account/base.html" %}

{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  {% block content %}
<head>
  <meta charset="UTF-8">
  <title>Login | Cantina Sem Fila</title>
  <link rel="stylesheet" href="{% static 'wagtailadmin/css/core.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom-wagtail.css' %}">
</head>
<body class="login">
  <div class="wrapper">
    <div id="content" class="content-wrapper">
      <h2>Senha atualizada com sucesso!</h2>
      <p>Agora você pode <a href="{% url 'account_login' %}">entrar com sua nova senha</a>.</p>
    </div>
  </div>
</body>
{% endblock %}
</html>
