{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Login | Cantina Sem Fila</title>
  <link rel="stylesheet" href="{% static 'wagtailadmin/css/core.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom-wagtail.css' %}">
</head>
<body class="login">
  <div class="wrapper">
    <div id="content" class="content-wrapper">
        <h2>Verifique seu e-mail</h2>
        <p>Enviamos um e-mail com um link de ativação para confirmar sua conta.</p>
    </div>
  </div>
</body>
</html>
