/* Muda a cor da barra lateral (menu) */
.sidebar-loading__inner, .sidebar__inner {
    background-color: #2E7D32 !important;  
}

/* Muda a cor da barra superior */
.sidebar-footer, .w-bg-surface-menus{
    background-color: #1a471c !important;  
}

/* Cor dos ícones e textos */
.wagtail-admin .sidebar a,
.wagtail-admin .sidebar span {
    color: #fff !important;
}

:root {
    --w-color-primary: #2E7D32 !important; 
    --w-color-secondary: #1a471c !important;
    --w-color-secondary-400: #153b17 !important;
    --w-color-surface-menu-item-active: #1a471c !important; 
  }